@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* eller 500, 700 osv. */
  font-style: normal;
}

.hidden {
  display: none;
}

.fade {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fade.show {
  opacity: 1;
}

button{
  padding: 10px;
  margin: 5px;
  background-color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: transform 300ms
}

#weatherInfo{
  font-size: larger;
  text-align: center;
  background-color: #CAE6F7 ;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.001), 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
#lokation{
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  transform: scale(1.1);
  transition: transform 300ms
}

#iconTogglePanel{
  padding: 35px;
}

#phone-box{
  width: 480px;
  height: 800px;
  background-color: #d5efff;
  border-style: solid;
  border-radius: 40px;
  border-color: black;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#phone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Lag_3{
  padding: 30px;
  padding-bottom: 50px;;
  display: grid;
  justify-content: center;
  align-items: center;
  
}
